:root {
    --bg-color-dkblue: #193441;
    --bg-color-ltblue: #3E606F;
    --bg-color-green: #91AA9D;
    --bg-color-ltgreen: #D1DBBD;
    --bg-color-dkgrey: #2a2a2a;
    /* --bg-color-grey: #5c5c5c; */
    --bg-color-grey: #4d4d4d;
    --bg-color-ltgrey: #cacaca;
    --btn-color: #E06C45;
}

html {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--bg-color-dkgrey);
    color: var(--bg-color-green);
}

body {
    background-color: var(--bg-color-dkgrey);
}

.wrapper {
    margin: 0 auto;
    max-width: 1200px;
}

.navbar {
    background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 49%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 49%,rgba(0,0,0,0) 100%); 
    background: linear-gradient(to bottom, rgba(0,0,0,0.65) 49%,rgba(0,0,0,0) 100%); 
}

.navbar-brand {
    font-size: 24px;
    color: white;
    font-weight: bold;
}

.navbar-brand:hover {
    color: var(--btn-color); 
}


.nav-link {
    color: white; 
    font-weight: bold;
}

.nav-link:hover {
    color: var(--btn-color)
}

.banner {
    height: 500px;
    background: -moz-linear-gradient(top, rgba(0,0,0,1) 71%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,1) 71%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,1) 71%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /* background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 49%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 49%,rgba(0,0,0,0) 100%); 
    background: linear-gradient(to bottom, rgba(0,0,0,0.65) 49%,rgba(0,0,0,0) 100%);  */
    background-image: url("https://images.unsplash.com/photo-1520789238762-b954387e1bfd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1296&q=80");
    background-repeat: no-repeat;
    background-position: center center;
}

.banner-heading {
    font-size: 36px;
    margin-top: 100px;
    margin-bottom: 18px;
    text-align: center;
    color: white;
}

.banner-subheading {
    font-size: 18px;
    text-align: center;
    color: white;
}

.instruction-text {
    
    text-align: center;
    color: var(--bg-color-ltgrey);
}

.form-container {
    background-color: var(--bg-color-dkgrey);
    padding: 30px;
}

.restaurant-form {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 120px; */
}

@media all and (max-width: 768px) {    
    .restaurant-form {
        flex-direction: column;
    }
}

.text-field, select {
    height: 30px;
    width: 150px;
    margin: 5px;
    padding-left: 5px;
    border-radius: 4px;
    border: none;
    background-color: white;
    color: var(--bg-color-grey);
}

@media all and (max-width: 768px) {    
    .text-field, select {
        width: 90%;
    }
}

.rr-btn {
    height: 30px;
    margin: 10px;
    background-color: var(--btn-color);
    border-radius: 6px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

.rr-btn:hover {
    background-color: #1290CD;
    transform: scale(1.1);
}

.search-btn {
    width: 100px;
}

.desktop-btn {
    width: 50px;
}

@media all and (max-width: 768px) {
    .search-btn {
        background-color: #1290CD;
        width: 100px;
    }

    .desktop-btn {
        display: none;
    }
}

.mobile-button-block {
    display: none;
}

@media all and (max-width: 768px) {
    .mobile-button-block {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.restaurant-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2a2a2a;
    padding: 30px;
}

.restaurant-card {
    padding: 30px; 
    background-color: var(--bg-color-grey);
    color: white;
    border-radius: 6px;
}

.restaurant-photo {
    display: block;
    margin: 0 auto;
    max-width: 500px;
    border-radius: 6px;
}

@media all and (max-width: 768px) {    
    .restaurant-photo {
        max-width: 250px;
    }
}

.restaurant-title {
    font-size: 24px;
    margin-bottom: 24px;
}

.restaurant-section {
    margin-top: 16px;
}

.restaurant-text {
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    padding: 0;
}

@media all and (max-width: 768px) {    
    .restaurant-text {
        display: block;
    }
}

.restaurant-label {
    display: inline-block;
    min-width: 65px;
    font-size: 16px;
    font-weight: 500;
}

.hours-block {
    padding-left: 30px;
}

@media all and (max-width: 768px) {    
    .hours-block {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 0;
    }
}


.hours-title {
    font-size: 16px;
    font-weight: 500;
}

.day-of-week {
    display: inline-block;
    width: 90px;
    font-size: 14px;
    font-weight: bold;
}

.hours {
    display: inline-block;
    font-size: 14px;
}

.about-text {
    padding: 30px 20%;
    color: white;
}

.body-title {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}


/* @media all and (max-width: 768px) {    
    .day-of-week {
        display: block;
    }
} */